@media screen and (max-width: 400px){
    .Main-container{
        margin: 4em 1em;
        padding-bottom: 4em;
      }

    .section-2{

        grid-template-columns: repeat(1,0.8fr);
        
    }
    .about-me{
        padding: 1em;
    }
    .skills{
        padding: 1em;
    }
    
}
